mkdir /opt/redswarm/init/
docker swarm init --default-addr-pool 172.16.0.0/20 --default-addr-pool-mask-length 24
docker swarm join-token worker | cut -d$'\n' -f3 | sed -e 's/^[[:space:]]*//' > /opt/redswarm/init/worker_join_cmd
docker swarm join-token manager | cut -d$'\n' -f3 | sed -e 's/^[[:space:]]*//' > /opt/redswarm/init/manager_join_cmd